.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Xcode
.bundle/
build/*
Pods/*
iOs Example/Pods/*
xcuserdata
!Podfile.lock
.idea/

# SPM

Package.resolved
.swiftpm
.build/
